#documents
  - if @departments
    = paginate @departments
    - @departments.each do |dep|
      %fieldset
        %legend.bright_legend
          = dep.name
        %p
          - dep.pending_documents.each do |doc|
            = render 'show_document_summary', :document => doc
    = paginate @departments
  - else
    %p
      = t :no_documents_exist
