!!!
%html
  %head
    %title= t(:flow)
    = stylesheet_link_tag    "application"
    = javascript_include_tag 'application', 'flow.js', "select2.js"
    = csrf_meta_tags
  %body
    #container
      #version
        version 0.9
      #header
        %h1= link_to t(:flow) , root_path
        %h2= t :flow_description
        .clear
      - if logged_in?
        #nav
          %ul
            %li
              = link_to t(:new_document), new_document_path if current_user.manager? or admin?
            %li
              = link_to t(:search), search_path
            %li
              = link_to t(:institutions), institutions_path if current_user.manager? or admin?
            %li
              = link_to t(:categories), categories_path if current_user.manager? or admin?
            %li
              = link_to t(:user_info), edit_user_path(current_user) unless admin?
            %li
              = link_to t(:edit_users), users_path if admin?
            %li.end
              = link_to t(:logout) + " " + current_user.email, logout_path
      #path
        = ":: flow :: " + @navigation_path if @navigation_path
        = link_to( t(:back), 'javascript:history.go(-1);', :class => 'right_link') if @back_link
      #body
        #content
          = content_tag(:p, notice, :class => 'notice') if notice.present?
          = content_tag(:p, alert, :class => 'alert') if alert.present?
          = yield
        - if logged_in?
          - if @side_menu_file
            = render @side_menu_file
          - else
            = render '/default_side_menu_00.html.erb'
        .clear
      #footer
        .footer-bottom
          = t(:flow) + ": "+ t(:flow_description)
